<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>my plot</title>
    <style>
      html, body {
        box-sizing: border-box;
        display: flow-root;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.3.1.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.3.1.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.3.1.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.3.1.min.js"></script>
  <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.3.1.min.js"></script>

  </head>
  <body>
    
    {% for plot_div in plots %}
        <h2>Plot:</h2>
        <div>
          {{ plot_div|safe }}
        </div>
    {% endfor %}

    <hr/>

      {{ javascript|safe }}

    
  </body>
</html>