    name: Conda Python Tests

    on:
      push:
        branches:
          - main
      pull_request:
        branches:
          - main

    jobs:
      test:
        runs-on: ${{ matrix.os }}
        strategy:
          matrix:
            python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
            os: [ubuntu-latest, windows-latest, macos-latest]

          fail-fast: false

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Setup Miniforge
            uses: conda-incubator/setup-miniconda@v3
            with:
              miniforge-version: latest
              channels: conda-forge, nodefaults
              use-mamba: true
              python-version: ${{ matrix.python-version }}

          - name: Install dependencies
            shell: bash -l {0}
            run: |
              conda config --set auto_activate false
              conda install -y pip
              make setup

          - name: Run tests
            shell: bash -l {0}
            run: |
              python3 -m pytest -v