    name: Conda Python Tests

    on:
      push:
        branches:
          - main
      pull_request:
        branches:
          - main

    jobs:
      test:
        runs-on: "ubuntu-latest"
        strategy:
          matrix:
            python-version: ["3.10", "3.11", "3.12", "3.13"]
        steps:
          - uses: actions/checkout@v5
          - uses: conda-incubator/setup-miniconda@v3
            with:
              python-version: ${{ matrix.python-version }}
              mamba-version: "*"
              channels: conda-forge,defaults
              channel-priority: true
              activate-environment: anaconda-client-env


          - name: Install dependencies
            shell: bash -l {0}
            run: |
              conda config --set auto_activate false
              conda install -y pip # Ensure pip is installed in the environment
              make setup

          - name: Run tests
            shell: bash -l {0} 
            run: |
              python3 -m pytest -v