    name: Conda Python Tests

    on:
      push:
        branches:
          - main
      pull_request:
        branches:
          - main

    jobs:
      test:
        runs-on: ubuntu-latest
        strategy:
          matrix:
            # python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
            python-version: ["3.11"]
          fail-fast: false

        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - uses: conda-incubator/setup-miniconda@v3
            with:
              auto-update-conda: true
              python-version: ${{ matrix.python-version }}
              channels: defaults

          - name: Install dependencies
            shell: bash -l {0}
            run: |
              conda config --set auto_activate false
              conda install -y pip
              make setup

          - name: Run tests
            shell: bash -l {0}
            run: |
              python3 -m pytest -v